@import "../variables";
@import "../mixins";

.wrapper {
  border: solid;
  width: 100%;
  height: 100vh;

  @include pc {
    width: 900px;
    margin: 0 auto;
  }
}

.header {
  padding: 0 2rem;
  h2 {
    font-family: $font-dokdo;
  }
  p {
    margin-top: 1rem;
    font-family: $font-griffy;
    font-weight: bold;
  }
}
.main {
  height: 400px;
  width: 100%;
  border: solid 2px red;
  position: relative;

  .levelBg {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 2px brown;

    @include pc {
      width: 800px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .canvas {
    border: solid 2px blue;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 101;

    @include pc {
      width: 800px;
      margin: 0 auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.footer {
}
