@import "../mixins";

.main {
  padding: 2rem 2rem;
  padding-bottom: 10rem;

  .avatar {
    height: 500px;
    // border: solid;
    border-radius: 8px;
    overflow: hidden;
    margin-top: -3rem;
    margin-bottom: 1rem;

    @include tablet {
      width: 200px;
      float: right;
    }
    @include pc {
      width: 400px;
    }
  }
  .avatar__bye {
    height: 400px;
  }
  .content {
    display: flow-root;
    @include tablet {
      padding-right: 2rem;
    }
    @include pc {
      padding-right: 3rem;
    }

    .text__section {
      margin-top: 3rem;
      h3 {
        margin-bottom: 10px;
      }
    }

    .next__btn {
      margin-top: 3.5rem;
      button {
        @include default-btn-styles;
      }
    }

    .links__container {
      position: relative;
      height: 650px;

      @include tablet {
        height: 400px;
      }

      @include pc {
        height: 300px;
      }

      ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        gap: 20px;
        display: grid;

        @include tablet {
          grid-template-columns: 1fr 1fr;
        }

        @include pc {
          grid-template-columns: 1fr 1fr 1fr;
        }

        margin: 0;
        padding: 0;

        li {
          list-style: none;
          margin: 0 5px;

          a {
            margin: 0 10px;
            text-decoration: none;
            display: absolute;
            display: block;
            width: 190px;
            height: 80px;
            background: #fff;
            text-align: left;
            padding-left: 20px;
            transform: rotate(-20deg) skew(20deg) translate(0, 0);
            transition: 0.5s;
            box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);

            &:before {
              content: "";
              position: absolute;
              top: 10px;
              left: -20px;
              height: 100%;
              width: 20px;
              background: #b1b1b1;
              transform: 0.5s;
              transform: rotate(0deg) skewY(-45deg);
            }

            &:after {
              content: "";
              position: absolute;
              bottom: -20px;
              left: -10px;
              height: 20px;
              width: 100%;
              background: #b1b1b1;
              transform: 0.5s;
              transform: rotate(0deg) skewX(-45deg);
            }

            &:hover {
              transform: rotate(-20deg) skew(20deg) translate(20px, -15px);
              box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
            }

            .fa {
              font-size: 32px;
              color: #262626;
              transition: 0.5s;
              margin-top: 1.3rem;
            }

            span {
              padding: 0;
              margin: 0;
              position: absolute;
              top: 30px;
              color: #262626;
              letter-spacing: 4px;
              transition: 0.5s;
            }

            &:hover .fa {
              color: #fff;
            }

            &:hover span {
              color: #fff;
            }
          }
        }

        li:hover:nth-child(1) a {
          background: #d81c3f;
          &:before {
            background: #d81c3f;
          }
          &:after {
            background: #e46880;
          }
        }

        li:hover:nth-child(2) a {
          background: #25d366;
          &:before {
            background: #1fad59;
          }
          &:after {
            background: #3eeb87;
          }
        }

        li:hover:nth-child(3) a {
          background: #2867b2;
          &:before {
            background: #19558d;
          }
          &:after {
            background: #3e87b9;
          }
        }

        li:hover:nth-child(4) a {
          background: #211f1f;
          &:before {
            background: #131313;
          }
          &:after {
            background: #333333;
          }
        }

        li:hover:nth-child(5) a {
          background: #fc6d27;
          &:before {
            background: #db590e;
          }
          &:after {
            background: #ff8c53;
          }
        }

        li:hover:nth-child(6) a {
          background: #d44638;
          &:before {
            background: #b5332a;
          }
          &:after {
            background: #e0604b;
          }
        }
      }
    }
  }
}
