@import "../mixins";
@import "../variables";

.nav {
  width: 100%;
  height: 50px;
  @include flex-row-space-between;
  padding: 2rem;
  margin: 0 auto;

  @include pc {
    width: 900px;
  }

  .menu__btn {
    &:active {
      transform: scale(0.98);
    }
  }
  .menu {
    // border: solid;
    width: 250px;
    background-color: $color-primary;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 2rem;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    transform: translateX(280px);
    @include transition-ease;
    z-index: 999;

    div {
      &:nth-child(2) {
        margin-top: 2rem;
      }
      div {
        color: white;
        margin-top: 2rem;

        // border: solid;
        h4 {
          color: white;
          margin-right: 10px;
          &:hover {
            color: $color-secondary;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .isMenu {
    transform: translateX(0px);
  }
  .menu__close {
    position: fixed;
    top: 25px;
    right: 25px;
    @include flex-centralize;
    color: white;
    @include transition-ease;
    &:hover {
      transform: rotate(90deg);
    }
  }
  div {
    &:hover {
      cursor: pointer;
    }
  }
  .active {
    animation: 1s shake forwards;
  }

  .menu__close__div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 998;
  }
}

.link {
  text-decoration: none;
}

.header {
  padding: 0 2rem;
  h2 {
    font-family: $font-dokdo;
  }

  .info {
    p {
      // margin-top: 1rem;
      padding-right: 2rem;
      font-family: $font-griffy;
      font-weight: bold;
    }
    h4 {
      margin-top: 1rem;
      font-size: 1.5rem;
      font-family: $font-dokdo;
      width: fit-content;
      margin-left: auto;
    }
    @include pc {
      @include flex-row-space-between;
      padding-right: 8rem;
      margin-top: 0;
      margin-left: unset;
    }
  }
}
.main {
  height: 370px;
  width: 100%;
  // border: solid 2px red;
  position: relative;

  .levelBg {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // border: solid 2px brown;

    @include pc {
      width: 800px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .canvas {
    // border: solid 2px blue;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 101;

    @include pc {
      width: 800px;
      margin: 0 auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.controls {
  // border: solid 2px yellow;
  padding: 0rem 3rem;
  @include flex-row-space-between;

  .shoot__btn {
    &:active {
      transform: scale(0.95);
    }
    img {
      height: 70px;
      width: 70px;
    }
  }

  .play__pause {
    img {
      height: 60px;
      width: 60px;
    }
  }

  @include pc {
    width: 600px;
    margin: 0 auto;
  }
}
.footer {
  // @include flex-row-space-between;
  padding: 1rem 2rem;
  button {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    @include default-btn-styles;
  }

  .unlocked__page {
    @include flex-row;

    span {
      margin-left: 5px;
    }
  }
}
