// fonts
$font-primary: var(--font-aBeeZee);
$font-secondary: var(--font-poppins);
$font-bangers: var(--font-bangers);
$font-dokdo: var(--font-dokdo);
$font-griffy: var(--font-griffy);

// font-size
$text-xxl: 80px;
$text-xl: 60px;
$text-l: 36px;
$text-m: 26px;
$tex-s: 16px;
$text-xs: 12px;

// color
$color-primary: black;
$color-secondary: #7203ff;

// Breakpoints
$breakpoint-sm: 300px;
$breakpoint-md: 500px;
$breakpoint-lg: 900px;
